$primary: #3d69e7;
$common-white: #fff;
$common-black: #000;
$text-secondary: #9ea9b2;
$text-info: #acadf9;
$text-success: #56b969;
$text-danger: #e26e46;
$border: #e5e5e5;

$border-radius-base: 6px;
$border-radius-md: 12px;
