@import "variables";
.container {
  width: 1292px;
  height: 84px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 16px;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.1);

  &__rightContainer {
    display: flex;
    align-items: center;
    gap: 16px;

    &__userAvatarContainer {
      display: flex;
      align-items: center;
      gap: 16px;
    }

    &__loginInputGroupContainer {
      display: flex;
      flex-direction: column;
      gap: 16px;
    }

    &__loginInput {
      display: flex;
      height: 40px;
      width: 100%;
      border: 1px solid $border;
      border-radius: $border-radius-base;
      padding: 12px;
      &:focus-within {
        outline: none;
      }
      &::placeholder {
        color: $text-secondary;
      }
    }

    &__buttonGroupContainer {
      display: flex;
      align-items: center;
      gap: 16px;
    }
  }

  &__leftContainer {
    display: flex;
    align-items: center;
    gap: 16px;

    &__taskInputGroupContainer {
      margin-top: 21px;
      display: flex;
      flex-direction: column;
      gap: 16px;
    }
  }
}

.submitButton {
  width: 96px;
  align-self: flex-end;
}

.datePickerButton {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  width: 144px;
  height: 44px;
  border: 1px solid $border;
  border-radius: $border-radius-base;
  font-weight: 600;
}
